src/main/wsdl/IESService.wsdl.test

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="IESService"
	targetNamespace="http://Wingman.CGD.CaixaIU.Services/IESService"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy"
	xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract"
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://Wingman.CGD.CaixaIU.Services/IESService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://Wingman.CGD.CaixaIU.Services/IESService/Imports">
			<xsd:import
				schemaLocation="http://caixaiu2iesservice.wingman.pt/IESService.svc?xsd=xsd0"
				namespace="http://Wingman.CGD.CaixaIU.Services/IESService" />
			<xsd:import
				schemaLocation="http://caixaiu2iesservice.wingman.pt/IESService.svc?xsd=xsd1"
				namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
			<xsd:import
				schemaLocation="http://caixaiu2iesservice.wingman.pt/IESService.svc?xsd=xsd2"
				namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
			<xsd:import
				schemaLocation="http://caixaiu2iesservice.wingman.pt/IESService.svc?xsd=xsd3"
				namespace="http://schemas.datacontract.org/2004/07/Wingman.CGD.CaixaIU.DataContract.SOAP" />
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="IIESService_SetForm43DigitalData_InputMessage">
		<wsdl:part name="parameters" element="tns:SetForm43DigitalData" />
	</wsdl:message>
	<wsdl:message name="IIESService_SetForm43DigitalData_OutputMessage">
		<wsdl:part name="parameters" element="tns:SetForm43DigitalDataResponse" />
	</wsdl:message>
	<wsdl:message name="IIESService_GetMemberCategories_InputMessage">
		<wsdl:part name="parameters" element="tns:GetMemberCategories" />
	</wsdl:message>
	<wsdl:message name="IIESService_GetMemberCategories_OutputMessage">
		<wsdl:part name="parameters" element="tns:GetMemberCategoriesResponse" />
	</wsdl:message>
	<wsdl:message name="IIESService_GetMaritalStatuses_InputMessage">
		<wsdl:part name="parameters" element="tns:GetMaritalStatuses" />
	</wsdl:message>
	<wsdl:message name="IIESService_GetMaritalStatuses_OutputMessage">
		<wsdl:part name="parameters" element="tns:GetMaritalStatusesResponse" />
	</wsdl:message>
	<wsdl:message name="IIESService_GetIdentificationCardTypes_InputMessage">
		<wsdl:part name="parameters" element="tns:GetIdentificationCardTypes" />
	</wsdl:message>
	<wsdl:message name="IIESService_GetIdentificationCardTypes_OutputMessage">
		<wsdl:part name="parameters" element="tns:GetIdentificationCardTypesResponse" />
	</wsdl:message>
	<wsdl:message name="IIESService_GetAcademicDegrees_InputMessage">
		<wsdl:part name="parameters" element="tns:GetAcademicDegrees" />
	</wsdl:message>
	<wsdl:message name="IIESService_GetAcademicDegrees_OutputMessage">
		<wsdl:part name="parameters" element="tns:GetAcademicDegreesResponse" />
	</wsdl:message>
	<wsdl:message name="IIESService_GetSchools_InputMessage">
		<wsdl:part name="parameters" element="tns:GetSchools" />
	</wsdl:message>
	<wsdl:message name="IIESService_GetSchools_OutputMessage">
		<wsdl:part name="parameters" element="tns:GetSchoolsResponse" />
	</wsdl:message>
	<wsdl:message name="IIESService_GetCourses_InputMessage">
		<wsdl:part name="parameters" element="tns:GetCourses" />
	</wsdl:message>
	<wsdl:message name="IIESService_GetCourses_OutputMessage">
		<wsdl:part name="parameters" element="tns:GetCoursesResponse" />
	</wsdl:message>
	<wsdl:message name="IIESService_GetCountries_InputMessage">
		<wsdl:part name="parameters" element="tns:GetCountries" />
	</wsdl:message>
	<wsdl:message name="IIESService_GetCountries_OutputMessage">
		<wsdl:part name="parameters" element="tns:GetCountriesResponse" />
	</wsdl:message>
	<wsdl:message name="IIESService_GetNationalities_InputMessage">
		<wsdl:part name="parameters" element="tns:GetNationalities" />
	</wsdl:message>
	<wsdl:message name="IIESService_GetNationalities_OutputMessage">
		<wsdl:part name="parameters" element="tns:GetNationalitiesResponse" />
	</wsdl:message>
	<wsdl:message name="IIESService_GetProfessionalSituation_InputMessage">
		<wsdl:part name="parameters" element="tns:GetProfessionalSituation" />
	</wsdl:message>
	<wsdl:message name="IIESService_GetProfessionalSituation_OutputMessage">
		<wsdl:part name="parameters" element="tns:GetProfessionalSituationResponse" />
	</wsdl:message>
	<wsdl:portType name="IIESService">
		<wsdl:operation name="SetForm43DigitalData">
			<wsdl:input
				wsaw:Action="http://Wingman.CGD.CaixaIU.Services/IESService/IIESService/SetForm43DigitalData"
				message="tns:IIESService_SetForm43DigitalData_InputMessage" />
			<wsdl:output
				wsaw:Action="http://Wingman.CGD.CaixaIU.Services/IESService/IIESService/SetForm43DigitalDataResponse"
				message="tns:IIESService_SetForm43DigitalData_OutputMessage" />
		</wsdl:operation>
		<wsdl:operation name="GetMemberCategories">
			<wsdl:input
				wsaw:Action="http://Wingman.CGD.CaixaIU.Services/IESService/IIESService/GetMemberCategories"
				message="tns:IIESService_GetMemberCategories_InputMessage" />
			<wsdl:output
				wsaw:Action="http://Wingman.CGD.CaixaIU.Services/IESService/IIESService/GetMemberCategoriesResponse"
				message="tns:IIESService_GetMemberCategories_OutputMessage" />
		</wsdl:operation>
		<wsdl:operation name="GetMaritalStatuses">
			<wsdl:input
				wsaw:Action="http://Wingman.CGD.CaixaIU.Services/IESService/IIESService/GetMaritalStatuses"
				message="tns:IIESService_GetMaritalStatuses_InputMessage" />
			<wsdl:output
				wsaw:Action="http://Wingman.CGD.CaixaIU.Services/IESService/IIESService/GetMaritalStatusesResponse"
				message="tns:IIESService_GetMaritalStatuses_OutputMessage" />
		</wsdl:operation>
		<wsdl:operation name="GetIdentificationCardTypes">
			<wsdl:input
				wsaw:Action="http://Wingman.CGD.CaixaIU.Services/IESService/IIESService/GetIdentificationCardTypes"
				message="tns:IIESService_GetIdentificationCardTypes_InputMessage" />
			<wsdl:output
				wsaw:Action="http://Wingman.CGD.CaixaIU.Services/IESService/IIESService/GetIdentificationCardTypesResponse"
				message="tns:IIESService_GetIdentificationCardTypes_OutputMessage" />
		</wsdl:operation>
		<wsdl:operation name="GetAcademicDegrees">
			<wsdl:input
				wsaw:Action="http://Wingman.CGD.CaixaIU.Services/IESService/IIESService/GetAcademicDegrees"
				message="tns:IIESService_GetAcademicDegrees_InputMessage" />
			<wsdl:output
				wsaw:Action="http://Wingman.CGD.CaixaIU.Services/IESService/IIESService/GetAcademicDegreesResponse"
				message="tns:IIESService_GetAcademicDegrees_OutputMessage" />
		</wsdl:operation>
		<wsdl:operation name="GetSchools">
			<wsdl:input
				wsaw:Action="http://Wingman.CGD.CaixaIU.Services/IESService/IIESService/GetSchools"
				message="tns:IIESService_GetSchools_InputMessage" />
			<wsdl:output
				wsaw:Action="http://Wingman.CGD.CaixaIU.Services/IESService/IIESService/GetSchoolsResponse"
				message="tns:IIESService_GetSchools_OutputMessage" />
		</wsdl:operation>
		<wsdl:operation name="GetCourses">
			<wsdl:input
				wsaw:Action="http://Wingman.CGD.CaixaIU.Services/IESService/IIESService/GetCourses"
				message="tns:IIESService_GetCourses_InputMessage" />
			<wsdl:output
				wsaw:Action="http://Wingman.CGD.CaixaIU.Services/IESService/IIESService/GetCoursesResponse"
				message="tns:IIESService_GetCourses_OutputMessage" />
		</wsdl:operation>
		<wsdl:operation name="GetCountries">
			<wsdl:input
				wsaw:Action="http://Wingman.CGD.CaixaIU.Services/IESService/IIESService/GetCountries"
				message="tns:IIESService_GetCountries_InputMessage" />
			<wsdl:output
				wsaw:Action="http://Wingman.CGD.CaixaIU.Services/IESService/IIESService/GetCountriesResponse"
				message="tns:IIESService_GetCountries_OutputMessage" />
		</wsdl:operation>
		<wsdl:operation name="GetNationalities">
			<wsdl:input
				wsaw:Action="http://Wingman.CGD.CaixaIU.Services/IESService/IIESService/GetNationalities"
				message="tns:IIESService_GetNationalities_InputMessage" />
			<wsdl:output
				wsaw:Action="http://Wingman.CGD.CaixaIU.Services/IESService/IIESService/GetNationalitiesResponse"
				message="tns:IIESService_GetNationalities_OutputMessage" />
		</wsdl:operation>
		<wsdl:operation name="GetProfessionalSituation">
			<wsdl:input
				wsaw:Action="http://Wingman.CGD.CaixaIU.Services/IESService/IIESService/GetProfessionalSituation"
				message="tns:IIESService_GetProfessionalSituation_InputMessage" />
			<wsdl:output
				wsaw:Action="http://Wingman.CGD.CaixaIU.Services/IESService/IIESService/GetProfessionalSituationResponse"
				message="tns:IIESService_GetProfessionalSituation_OutputMessage" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="BasicHttpBinding_IIESService" type="tns:IIESService">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="SetForm43DigitalData">
			<soap:operation
				soapAction="http://Wingman.CGD.CaixaIU.Services/IESService/IIESService/SetForm43DigitalData"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetMemberCategories">
			<soap:operation
				soapAction="http://Wingman.CGD.CaixaIU.Services/IESService/IIESService/GetMemberCategories"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetMaritalStatuses">
			<soap:operation
				soapAction="http://Wingman.CGD.CaixaIU.Services/IESService/IIESService/GetMaritalStatuses"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetIdentificationCardTypes">
			<soap:operation
				soapAction="http://Wingman.CGD.CaixaIU.Services/IESService/IIESService/GetIdentificationCardTypes"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetAcademicDegrees">
			<soap:operation
				soapAction="http://Wingman.CGD.CaixaIU.Services/IESService/IIESService/GetAcademicDegrees"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetSchools">
			<soap:operation
				soapAction="http://Wingman.CGD.CaixaIU.Services/IESService/IIESService/GetSchools"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetCourses">
			<soap:operation
				soapAction="http://Wingman.CGD.CaixaIU.Services/IESService/IIESService/GetCourses"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetCountries">
			<soap:operation
				soapAction="http://Wingman.CGD.CaixaIU.Services/IESService/IIESService/GetCountries"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetNationalities">
			<soap:operation
				soapAction="http://Wingman.CGD.CaixaIU.Services/IESService/IIESService/GetNationalities"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetProfessionalSituation">
			<soap:operation
				soapAction="http://Wingman.CGD.CaixaIU.Services/IESService/IIESService/GetProfessionalSituation"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="IESService">
		<wsdl:port name="BasicHttpBinding_IIESService" binding="tns:BasicHttpBinding_IIESService">
			<soap:address location="http://caixaiu2iesservice.wingman.pt/IESService.svc" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>